/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(0deg, rgb(192, 110, 255) 0%, rgb(252, 252, 138) 100%);
    min-height: 100vh;
}

.buttoncolor{
    background-color: rgb(255, 255, 255);
}

.navbar-expand-lg{
    background-color: transparent;
}

.nav-link{
    color:rgb(0, 0, 0);
}

.nav-link:hover{
    color:rgb(144, 0, 255);
    transform: scale(1.15);
}

.nav-link2{
    color:rgb(0, 0, 0);
    text-align: center;
}

.nav-link2:hover{
    color:rgb(144, 0, 255);
    transform: scale(1.15);
}

.loginButton{
    color:rgb(0, 0, 0);
    position: absolute;
    right: 120px;
}

.trolleyButton{
    color:rgb(0, 0, 0);
    position: absolute;
    right: 20px;
}

.youtube{
    padding-top: 5%;
}

a{
    text-decoration: none;
}

.social{
    list-style:square;
    display: flex;
}

.social a i{
    color: #000000;
    font-size: 1.5rem;
    transition: color .4s ease;
    margin-top: 1rem;
    margin-right: 2rem;
}

.social a:hover i{
    color: rgb(144, 0, 255);
    transform: scale(1.2);
}

.footer-bottom{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9vh;
    background: rgb(255,255,0);
}

.footer-bottom span{
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
    margin-top: 1rem;
    margin-right: 4rem;
}
